
<div class="card">
  <div>
    <h2>liste des clicks </h2>
    <table class="table">
      <thead>
      <tr>
        <th>click</th>
        <th>date</th>
        <th>CssSelector</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let c of clicks">
        <td>{{c.innerHtml}}</td>
        <td>{{c.clickTime}}</td>
        <td>{{c.cssSelector}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div>
    <p-chart type="bar" [data]="histoData" [options]="basicOptions"></p-chart>
  </div>

  <h5>Dash bord example 1</h5>
  <div>
    <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
  </div>

  <h5>Dash bord example 2</h5>
  <div>
    <p-chart class="doughnut" type="doughnut" [data]="dataDashboard" [options]="chartOptions"></p-chart>
  </div>
</div>
